<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragments/skeleton::layout (~{::movie_content})}">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>

<div class="ui padded segment container" data-th-fragment="movie_content">

    <div class="ui left aligned container">
        <a data-th-href="@{/}" class="ui tertiary icon button">
            <i class="ui arrow left icon"></i>Back to search
        </a>
        <h1 class="ui dividing header">
            Movie
        </h1>
    </div>


    <div class="ui massive fluid card" data-th-if="${movie}">
        <div class="content">
            <div class="header" data-th-text="${movie.title}">Movie Title</div>
            <div class="description">
                <i class="users icon"></i> &nbsp; <span data-th-text="${movie.actors}"></span>
            </div>
        </div>

        <div class="extra content" data-th-if="${movie.genres}">
            <i class="tag icon"></i>
            <span data-th-text="${movie.genres}"></span>
        </div>

    </div>


</div>

</body>
</html>